* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color scheme */

:root {
  --black: #000 ;
  --skyblue: #8ef2ff;
  --white: #ffff;

}

.background{
    background: whitesmoke;
}



.head-container {
  border: 1px solid black;
  background-color: black;
  text-align: center;
}

.anouncement-container {
  margin-top: 10px;
}

.anouncement-text {
  color: #8ef2ff;
}

.banner {
  background-image: linear-gradient(rgba(10, 10, 7, 0.5), rgba(10, 10, 7, 0.5)),
    url(/images/16469298831462.jpeg);
  background-position: center;
  background-size: contain;
  padding: 5% 5%;
}

.banner-inner-container {
  margin: 0% 15%;
  padding: 5% 5%;
  border-radius: 5px;
  border: 1px solid ;
  /* width: 40%; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.icon-container{
    margin-bottom: 10px;
}

.wallet-icon {
    color: #8ef2ff;
    font-size: 60px;
}

.banner-tittle {
  color: white;
}

.banner-button-container {
  margin-top: 2em;
}

.banner-heading-button {
  border: 1px solid whitesmoke;
  padding: 7px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--black);
  background-color: whitesmoke;
  font-size: 20px;
}


/*  */

.description-container{
    text-align: center;
    padding: 4% 10%;
    line-height: 2;
}

.description-text{
    padding: 0% 6% ;
}



/* cols */

.box-main-container{
    text-align: center;
    padding: 5% 3%;
    display: flex;
    justify-content: center;



    
}

.box{
    border: 1px solid ;
    margin: 6px;
    background-color: var(--skyblue);
    padding: 5% 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    /* width: 40%; */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    


}

.box-title-container{
    margin-top: 2em;
   
}


.box-button-container{
    margin-top: 2em;
    

}


.box-button{
     border: 1px solid black ;
     padding: 8px 20px;
     color: black;
     border-radius: 20px;
     font-size: 20px;
     text-decoration: none;
}


.footer-main-container{
    padding: 10% 5%;
    margin-top: 7em;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
}








/* Mobile */

@media screen  and (max-width:900px){
    .banner-inner-container{
        text-align: center;
    }

    .box-main-container{
        flex-direction: column;
    }
}