* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color scheme */

:root {
  --black: #000;
  --skyblue: #8ef2ff;
  --white: #ffff;
  --dark: #16213E;
}

.background {
  background: var(--white);
}

.head-container {
  border: 1px solid black;
  background-color: var(--dark);
  text-align: center;
}

.anouncement-container {
  margin-top: 10px;
}

.anouncement-container{
  height: 50px; 
  overflow: hidden;
  position: relative;
}
.anouncement-container .anouncement-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;

    /* Starting position */
       -moz-transform:translateX(100%);
       -webkit-transform:translateX(100%);  
       transform:translateX(100%);

 /* Apply animation to this element */  
       -moz-animation: anouncement-container 10s linear infinite;
       -webkit-animation: anouncement-container 10s linear infinite;
       animation: anouncement-container 10s linear infinite;
}

/* Move it (define the animation) */
      @-moz-keyframes anouncement-container {
       0%   { -moz-transform: translateX(100%); }
       100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes anouncement-container {
       0%   { -webkit-transform: translateX(100%); }
       100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes anouncement-container {
       0%   { 
       -moz-transform: translateX(100%); /* Firefox bug fix */
       -webkit-transform: translateX(100%); /* Firefox bug fix */
       transform: translateX(100%);         
       }
       100% { 
       -moz-transform: translateX(-100%); /* Firefox bug fix */
       -webkit-transform: translateX(-100%); /* Firefox bug fix */
       transform: translateX(-100%); 
       }
      }
    

.anouncement-text {
  color: var(--white);
}

.banner {
  background-image: linear-gradient(rgba(10, 10, 7, 0.7), rgba(10, 10, 7, 0.7)),
    url(/images/blockchain-applications.jpeg);
  background-position: center;
  background-size: contain;
  padding: 5% 5%;
}

.banner-inner-container {
  margin: 0% 15%;
  padding: 5% 5%;


}

.icon-container {
  margin-bottom: 2em;
}

.wallet-icon {
  color: var(--white);
  font-size: 60px;
}

.banner-title-container {
  margin-top: 1em;
}

.banner-tittle {
  color: var(--white);
}

.banner-button-container {
  margin-top: 2em;
}

.banner-heading-button {
  border: 1px solid var(--white);
  padding: 8px 15px;
  border-radius: 2em;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  transition: all 250ms ease-in-out;
}

.banner-heading-button:hover{
  background-color: whitesmoke;
  color: var(--black);
  border: 1px solid whitesmoke;

}

/*  */

.description-container {
  text-align: center;
  padding: 4% 10%;
  line-height: 2;
}

.description-text {
  padding: 0% 6%;
}

/* Columns */

.box-main-container {
  text-align: center;
  padding: 5% 3%;
  display: flex;
  justify-content: center;
}

.box {
  
  margin: 8px;
  padding: 5% 7%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
 border: 10px solid whitesmoke;


}

.box-title-container {
  margin-top: 2em;
  color: var(--black);
}

.box-button-container {
  margin-top: 2em;
}

.box-button {
  border: 2px solid var(--black);
  padding: 8px 20px;
  color: var(--black);
  border-radius: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.box-button:hover{
  background: whitesmoke;
}

#sec-row-box-2{
  padding: 6% 10%;
}

#sec-row-box-3{
  padding: 6% 10%;
}

.footer-main-container {
  padding: 10% 8%;
  text-align: center;
  margin-top: 7em;
  background: whitesmoke;
  color: var(--black);
}

.footer-column-2{
    margin-top: 3%;
}


.footer-text-container{
    
  padding: 4%;
  color: var(--black);
  background: whitesmoke;
}

.coypright-wrap{
  background: whitesmoke;
  color: red;
}



/* Mobile */

@media screen and (max-width: 900px) {
  .banner-inner-container {
    text-align: center;
    padding: 5% 8%;
  }

  .description-container{
    margin-top: 10%;
  }

  .box-main-container {
    flex-direction: column;
  }

  .box{
    padding: 15% 0%;
  }
}





/* Top bar scroll */

